header {
    background-color: green;
}


body h1 {
    padding: 0 5%;
    font-size: 70px;
}

.homeContent {
    position: absolute;
}

.homeContent p {
    display: inline;
    vertical-align: top;
    font-size: 25px;
}

.homeContent img{
    float: left;
}

.deals {
    top: 100%;
    position:absolute;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

header img {
    width: 10%;
    background-color: greenyellow;
    border-radius: 30px;
}

.navigation {
    background-color: darkgreen;
    height: 50px;
}

ul {
    width: 750px;
    margin: 0 auto;
}

.homeImage {
    padding: 0 20%;
}

ul li{
    float: left;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    width: 150px;
    text-decoration: none;
    text-align: center;
    padding: 0px 30px;
    font-size: 20px;
    display: block;
    width: 50%;
}