header {
    background-color: green;
}

body h1 {
    padding: 0 10%;
    font-size: 70px;
}

.homeContent p {
    display: inline;
    vertical-align: top;
    font-size: 40px;
}

.homeContent img{
    float: left;
}

header img {
    width: 10%;
    background-color: greenyellow;
    border-radius: 30px;
}

.navigation {
    background-color: darkgreen;
    height: 50px;
}

ul {
    width: 750px;
    margin: 0 auto;
}

.homeImage {
    padding: 0 20%;
}

li {
    float: left;
}


ul li{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    width: 150px;
    text-decoration: none;
    text-align: center;
    padding: 0px 30px;
    font-size: 30px;
    display: block;
    width: 50%;
}